{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}


    

    {{ form_start(registrationForm) }}
 
<div class='box'>
  <div class='box-form'>
    <div class='box-login-tab'></div>
    <div class='box-login-title'>
      <div class='i i-login'></div>
     <h2>Inscription</h2>
    </div>
    <div class='box-login'>
      <div class='fieldset-body' id='login_form'>
        <div class="form-group container">
            
            {{ form_row(registrationForm.email, {label: 'EMAIL'}) }}
            {{ form_row(registrationForm.plainPassword, {label: 'PASSWORD'}) }}
            {{ form_row(registrationForm.pseudo, {label: 'PSEUDO'} )}}
            {{ form_row(registrationForm.agreeTerms) }}
        </div> 
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        	<input  type="submit" id='do_login' value='VALIDER INSCRIPTION' >
      </div>
    </div>
  </div>
<div class='box-info' style="height:310px"></div>
  
</div>

    {{ form_end(registrationForm) }}


{% endblock %}
